Form {
  padding: 10px;
}

#title {
  font-family: 'Rajdhani', sans-serif;
  margin-bottom: 10px;
}

#description {
  font-family: 'Rajdhani', sans-serif;
  margin-bottom: 10px;
}

#deadline {
  font-family: 'Rajdhani', sans-serif;
  margin-bottom: 10px;
}

.header {
  font-family: 'Permanent Marker', cursive;
}

.row {
  margin: 10px;
  padding: 20px;
  justify-content: center;
}

.card {
  padding: 10px;
  margin: 10px;
}

.checkBox {
  float: right;
}
