.title {
    font-family: 'Permanent Marker', cursive;
}

.search{
    font-family: 'Rajdhani', sans-serif;
}

.taskpage {
    font-family: 'Rajdhani', sans-serif;
}

.logout {
    font-family: 'Rajdhani', sans-serif;
}

.signUp {
    font-family: 'Rajdhani', sans-serif;
}